
.passwordgen_main{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 6%;
text-align: center;

}

.passwordgen_main > div{

  margin: 1%;
    width: 100%;


}

.website_name{

    width:50%;
    height:30px

}

